@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  font-family: 'Source Code Pro', monospace;
}

body {
  margin: 0;
}

hr {
  margin: 0 30px;
  border-color: #7d8cc4;

}

h1 {
  font-size: 35px;
}

img {
  padding-left: 15px;
  cursor: pointer;
}

input {
  border: none;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  border-color: gray;
  margin-left: 30px;
}

input:disabled {
  background-color: #9e9e9e;
  color: black;
}

input:focus {
  outline-color: #2e2e3a;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2e2e3a;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-link {
  margin: 15px 30px;
  text-decoration: none;
  color: #a0d2db;
}

.header-link:hover {
  cursor: pointer;
} 

.body {
  text-align: center;
  margin: auto;
}

.footer {
  text-align: center;
  color: #a0d2db;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.convertion-block {
  width: 430px;
  margin: auto;
  text-align: left;
}

.convertion-block>* {
  flex: 1;
  font-size: 20px;
}

.underline-text {
  text-decoration: underline;
}

.unit-label {
  cursor: pointer;
}

.dropdown {
  background-color: #1a1a25;
  border: 1px #000000 solid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  width: 100%;
  font-size: 16px;
  z-index: 1;
}

.dropdown>p {
  margin: 5px 10px;
  cursor: pointer;
}

.dropdown>p:hover {
  text-decoration: underline;
}

.dropdown-arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin: auto;
}

.active-dropdown {
  color: red;
}

.relative {
  position: relative;
}

.title {
  color: #a0d2db;
}